@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Light.ttf');
}

@font-face {
    font-family: 'SFUIText-bold';
    src: url('../fonts/SFUIText-Bold.ttf');
}

@font-face {
    font-family: 'SFUIText-medium';
    src: url('../fonts/SFUIText-Medium.ttf');

}

h1, h2, h3, h4, h5, h6 {
    font-family: SFUIText-medium;
}

b {
    font-family: SFUIText-medium;
}

html, body {
    font-family: SFUIText;
}

pre code{
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, legend{
    font-weight: normal;
}
.wy-nav-content-wrap{
    background-color: #fff;
}
.hljs{
    background-color: #fcfcfc;
}
@media screen and (min-width: 1400px) {
    .wy-nav-content {
        margin: auto;
        background: #fff;
    }
}
.rst-versions{
	display: none;
}
.wy-nav-side{
	height: 100%;
}